﻿@model MvcMovie.Models.LogOnModel

@{
    ViewBag.Title = "Iniciar sesión";
}

<h2>Iniciar sesión</h2>
<p>
    Escriba su nombre de usuario y contraseña. @Html.ActionLink("Regístrese", "Register") si no tiene una cuenta.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "No se ha iniciado la sesión. Corrija los errores e inténtelo de nuevo.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Información de cuenta</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Iniciar sesión" />
            </p>
        </fieldset>
    </div>
}
